h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

p.description {
    font-size: 1rem;
    margin-bottom: 2rem;
}

main {
    max-width: 52rem;
    margin: 3rem auto;
    padding: 0 5%;
}

.blog section {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.blog h2 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: var(--medium-gray);
}

 /* prev/next blog navigation */
.post-nav {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 500;
}

.post-nav a {
    text-decoration: none;
    color: var(--medium-gray);
    transition: color 0.25s ease;
}

.post-nav a span {
    position: relative;
    padding-bottom: 0.125rem;
    transition: color 0.25s ease;
}

.post-nav a span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.25s ease;
}

.post-nav a:hover,
.post-nav a:focus {
    color: black;
}

.post-nav a:hover span::after,
.post-nav a:focus span::after {
    width: 100%;
}