/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --light-gray: #F5F5F5;
    --dark-gray: #333333;
    --medium-gray: #666666;
    --pastel-black: #1b1b1b;
}

h1, h2, h3, h4, h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--light-gray);
    color: var(--dark-gray);
    line-height: 1.6;
    font-family: 'Inter', 'Poppins', sans-serif;
    font-size: 1rem;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 5%;
    background-color: var(--white);
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.05);
    top: 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-gray);

}

.logo a {
    text-decoration:  none;
    color: inherit;
    /* cursor: pointer;  */            
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: var(--dark-gray);
    font-weight: 500;
    padding: 0.5rem 0;
    transition: color 0.3s;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--pastel-black);
    transition: width 0.3s ease;
}

.nav-links a:hover,
.nav-links a:focus {
    color: var(--pastel-black);
}

.nav-links a:hover::after,
.nav-links a:focus::after {
    width: 100%;
}


/* Footer */
footer {
    background-color: var(--pastel-black);
    padding: 2rem 5%;
    text-align: center;
    color: #e5e5e5;
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.1);
}

footer p {
    font-size: 1rem;
    opacity: 0.9;
}

@media (max-width: 48rem) {
    .navbar {
        flex-direction: column;
        gap: 0.5rem;
    }

    .hero h1 {
        font-size: 2.2rem;
    }
}